<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN HEAD -->

<head th:fragment="head(title,cssPaths)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

    <title th:text="${title}">Super Admin Responsive Template</title>
    <!-- CSS -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/form.css}" rel="stylesheet">
    <link th:href="@{/assets/css/calendar.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet">
    <link th:href="@{/assets/css/generics.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:each="cssPath,status:${#strings.setSplit(cssPaths,',')}" th:href="@{${cssPath}}"/>

</head>
<!-- END HEAD -->
<!-- 新消息 以及 搜索 -->
<header id="header" class="media" th:fragment="header">
    <a href="" id="menu-toggle"></a>
    <!--<a class="logo pull-left" >MONITOR 1.0</a>-->

    <div class="media-body">
        <div class="media" id="top-menu">
            <div class="pull-left tm-icon">
                <a data-drawer="messages" class="drawer-toggle" href="">
                    <i class="sa-top-message"></i>
                    <i class="n-count animated"  id="warnNum">5</i>
                    <span>Messages</span>
                </a>
            </div>

            <div id="time" class="pull-right">
                <span id="hours"></span>
                :
                <span id="min"></span>
                :
                <span id="sec"></span>
            </div>

        </div>
    </div>
</header>



<!-- Breadcrumb 面包屑 -->
<div th:fragment="breadcrumb(title)">
    <!--<ol class="breadcrumb hidden-xs"  >
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>-->

    <h4 class="page-title" th:text="${title}" >DASHBOARD</h4>
</div>


<!-- 消息弹框 -->
<div id="messages"  class="tile drawer animated" th:fragment="messages">


    <div class="listview narrow">
        <div class="media">
            <a href="">Send a New Message</a>
            <span class="drawer-close">&times;</span>

        </div>
        <div class="overflow" style="height: 254px">
            <div class="media">
                <div class="pull-left">
                    <img width="40"  th:src="@{/assets/img/profile-pics/2.jpg}" alt="">
                </div>
                <div class="media-body">
                    <small class="text-muted">David Villa - On 16/12/2013</small><br>
                    <a class="t-overflow" href="">Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra</a>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <img width="40"  th:src="@{/assets/img/profile-pics/3.jpg}" alt="">
                </div>
                <div class="media-body">
                    <small class="text-muted">Harris worgon - On 17/12/2013</small><br>
                    <a class="t-overflow" href="">Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id</a>
                </div>
            </div>
        </div>
        <div class="media text-center whiter l-100">
            <a href=""><small>VIEW ALL</small></a>
        </div>
    </div>

</div>

<div id="notifications" class="tile drawer animated" th:fragment="notifications">
    <div class="listview narrow">
        <div class="media">
            <a href="">Notification Settings</a>
            <span class="drawer-close">&times;</span>
        </div>
        <div class="overflow" style="height: 254px">
            <div class="media">
                <div class="pull-left">
                    <img width="40"  th:src="@{/assets/img/profile-pics/1.jpg}" alt="">
                </div>
                <div class="media-body">
                    <small class="text-muted">Nadin Jackson - 2 Hours ago</small><br>
                    <a class="t-overflow" href="">Mauris consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <img width="40"  th:src="@{/assets/img/profile-pics/2.jpg}" alt="">
                </div>
                <div class="media-body">
                    <small class="text-muted">David Villa - 5 Hours ago</small><br>
                    <a class="t-overflow" href="">Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra</a>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <img width="40"  th:src="@{/assets/img/profile-pics/3.jpg}" alt="">
                </div>
                <div class="media-body">
                    <small class="text-muted">Harris worgon - On 15/12/2013</small><br>
                    <a class="t-overflow" href="">Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id</a>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <img width="40"  th:src="@{/assets/img/profile-pics/4.jpg}" alt="">
                </div>
                <div class="media-body">
                    <small class="text-muted">Mitch Bradberry - On 14/12/2013</small><br>
                    <a class="t-overflow" href="">Phasellus interdum felis enim, eu bibendum ipsum tristique vitae. Phasellus feugiat massa orci, sed viverra felis aliquet quis. Curabitur vel blandit odio. Vestibulum sagittis quis sem sit amet tristique.</a>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <img width="40"  th:src="@{/assets/img/profile-pics/1.jpg}" alt="">
                </div>
                <div class="media-body">
                    <small class="text-muted">Nadin Jackson - On 15/12/2013</small><br>
                    <a class="t-overflow" href="">Ipsum wintoo consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <img width="40"  th:src="@{/assets/img/profile-pics/2.jpg}" alt="">
                </div>
                <div class="media-body">
                    <small class="text-muted">David Villa - On 16/12/2013</small><br>
                    <a class="t-overflow" href="">Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra</a>
                </div>
            </div>
        </div>
        <div class="media text-center whiter l-100">
            <a href=""><small>VIEW ALL</small></a>
        </div>
    </div>
</div>






<!-- js -->
<div th:fragment="js(jsPaths)">


    <!-- Javascript Libraries -->
    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery.min.js}"></script> <!-- jQuery Library -->
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script> <!-- jQuery UI -->
    <script th:src="@{/assets/js/jquery.easing.1.3.js}"></script> <!-- jQuery Easing - Requirred for Lightbox + Pie Charts-->

    <!-- Bootstrap -->
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <!-- Charts -->
    <script th:src="@{/assets/js/charts/jquery.flot.js}"></script> <!-- Flot Main -->
    <script th:src="@{/assets/js/charts/jquery.flot.time.js}"></script> <!-- Flot sub -->
    <script th:src="@{/assets/js/charts/jquery.flot.animator.min.js}"></script> <!-- Flot sub -->
    <script th:src="@{/assets/js/charts/jquery.flot.resize.min.js}"></script> <!-- Flot sub - for repaint when resizing the screen -->

    <script th:src="@{/assets/js/sparkline.min.js}"></script> <!-- Sparkline - Tiny charts -->
    <script th:src="@{/assets/js/easypiechart.js}"></script> <!-- EasyPieChart - Animated Pie Charts -->
    <script th:src="@{/assets/js/charts.js}"></script> <!-- All the above chart related functions -->

    <!-- Map -->
    <script th:src="@{/assets/js/maps/jvectormap.min.js}"></script> <!-- jVectorMap main library -->
    <script th:src="@{/assets/js/maps/usa.js}"></script> <!-- USA Map for jVectorMap -->

    <!--  Form Related -->
    <script th:src="@{/assets/js/validation/validate.min.js}"></script> <!-- jQuery Form Validation Library -->
    <script th:src="@{/assets/js/validation/validationEngine.min.js}"></script> <!-- jQuery Form Validation Library - requirred with above js -->
    <script th:src="@{/assets/js/icheck.js}"></script> <!-- Custom Checkbox + Radio -->

    <!-- UX -->
    <script th:src="@{/assets/js/scroll.min.js}"></script> <!-- Custom Scrollbar -->
    <!-- Text Editor -->
    <script th:src="@{/assets/js/editor.min.js}"></script> <!-- WYSIWYG Editor -->
    <!-- Other -->
    <script th:src="@{/assets/js/calendar.min.js}"></script> <!-- Calendar -->
    <script th:src="@{/assets/js/feeds.min.js}"></script> <!-- News Feeds -->


    <!-- All JS functions -->
    <script th:src="@{/assets/js/functions.js}"></script>

    <script th:src="@{/assets/js/function/pushMsg.js}"></script>

    <!--getScheme()获取协议，getServerName()获取服务器名，getServerPort()服务器端口，getContextPath() APP根路径-->
    <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} "
       id="contextPath" style="display: none"></a>
    <script>
        /**
         * 注销
         */
        function userLogOut() {
            $('#logOutForm').submit();
        }
        /*获取应用的根目录，我的绝对路径是*/
        var contextPath = $('#contextPath').attr('href');//http://localhost:8080/



    </script>
    <!--页面js-->
    <script th:each="jsPath,status:${#strings.setSplit(jsPaths,',')}" th:src="@{${jsPath}}"></script>

</div>

</html>